<h1>Ol치 sequelize</h1>
<a href="/users/create">Cadastrar</a>

<div>
    {{#each user}}
    <div>
        <h1>{{this.name}}</h1>
        <p>{{this.occupation}}</p>
        {{!-- criando um link para o usu치rio acessar o user --}}
        <a href="/users/{{this.id}}">Detalhes</a><br>
        {{!-- criando um link para o usu치rio editar o user --}}
        <a href="/users/edit/{{this.id}}">Editar</a><br>
        {{!-- criando um link para o usu치rio excluir o user --}}
        <a href="/users/delete/{{this.id}}">Deletar</a>
    </div>
    {{/each}}
</div>