<h1><a href="/create">Criar produto</a></h1>
<h1>Produtos</h1>
{{#each products}}
    <h3><a href="/product/{{this._id}}">{{this.name}}</a></h3>
    <img src="{{this.image}}" alt="">
    <p>{{this.price}}</p>
    <p>{{this.description}}</p>
{{/each}}